<!-- Written by Colby -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTD Room Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <div class="header-content">
            <nav>
                <h1><a href="{{ url_for('search') }}">UTD Room Finder</a></h1>
                <ul>
                    <li><a href="{{ url_for('search') }}">Search</a></li>
                    <li><a href="{{ url_for('map') }}">Campus Map</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>